.cryptocurrency {
  padding-top: 40px;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: center;

  .payment-other-div {
    text-align: center;
    margin-bottom: 40px;
  }

  h4 {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
  }

  a {
    font-weight: 700;
    text-decoration: none;
    &:hover {
      color: lime;
    }
  }

  .btc-form {
    margin-bottom: 40px;
    .btc-onion-link {
      text-align: center;
      width: 100%;
      display: block;
      margin-top: 25px;
    }
  }

  .intro-text-section {
    margin: 0 15px;
  }

  #cryptocurrency-form {
    margin: 40px auto;
    max-width: 1024px;
  }

  .copy-button {
    background: url('/static/images/copy.svg') center / 12px 12px no-repeat;
    border: none;
    height: 43px;
    width: 43px;
    padding: 5px 5px 2px 5px;
    margin: 0;
    z-index: 100;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .donate.button {
    background-color: lime;
    color: $black;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #848282;
    cursor: pointer;
    text-transform: uppercase;
  }

  .field-error {
    color: $red;
    font-size: 12px;
  }

  .form-column {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }

  .form-fields {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: [first] 1fr [second] 1fr [end];
    margin-top: 20px;

    @include media-breakpoint-up(sm) {
      grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [end];
    }

    input {
      border: 1px solid $black;
      padding: 8px 12px;
      &:required {
        border-color: lime;
      }
      &:focus {
        outline: none;
      }
    }
  }

  input {
    box-sizing: border-box;
    height: 43px;
    margin: 0;
    width: 100%;

    &[type=checkbox] {
      width: auto;
    }

    &[required] {
      border-color: lime;
    }

    &.error {
      border-color: $red;
    }

    &[name=firstName] {
      grid-column: first / span 2;
    }

    &[name=lastName] {
      grid-column: first / end;

      @include media-breakpoint-up(sm) {
        grid-column-start: third;
      }
    }

    &[name=streetAddress] {
      grid-column: first / end;

      @include media-breakpoint-up(sm) {
        grid-column: first / fourth;
      }
    }

    &[name=extendedAddress] {
      grid-column-start: first;

      @include media-breakpoint-up(sm) {
        grid-column-start: fourth;
      }
    }

    &[name=locality] {
      grid-column: first / span 2;
    }

    &[name=postalCode] {
      grid-column: first / span 2;
    }

    &[name=email] {
      grid-column: first / end;
    }

    &[name=estimatedDonationDate] {
      @include media-breakpoint-up(sm) {
        grid-column: 3 / span 2;
      }
    }

    &[name=region] {
      grid-column: first / span 2;
      @include media-breakpoint-up(sm) {
        grid-column: third / span 2;
      }
    }
  }

  label[for=estimatedDonationDate] {
    align-self: center;
    grid-column: first;
    text-align: right;
    @include media-breakpoint-up(sm) {
      grid-column: first / span 2;
    }
  }

  .field-area.currencyAmount {
    grid-column: first / span 2;
    @include media-breakpoint-up(sm) {
      grid-column: third / span 2;
    }
  }

  .checkbox-row {
    display: flex;
    grid-column: first / end;
    align-items: center;

    input {
      margin-right: 5px;
    }
    label {
      margin-bottom: 0;
    }
  }

  select {
    box-sizing: border-box;
    height: 43px;
    margin: 0;
    background-color: transparent;
    padding: 8px 12px;

    &[name=country] {
      grid-column: first / end;
    }

    &[name=region] {
      grid-column: first / span 2;
      @include media-breakpoint-up(sm) {
        grid-column: third / span 2;
      }
    }

    &[name=cryptocurrencyType] {
      grid-column: first / span 2;
      color: $black;
      border-color: lime;
    }
  }

  .wallet-column {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 50%;
    }

    ul {
      list-style-type: none;
      margin-top: 20px;
      padding: 0;
      width: 100%;
    }

    li {
      align-items: center;
      display: flex;
      margin-bottom: 10px;
      width: 100%;
    }

    .currency-name {
      padding: 5px;
      width: 30%;
    }

    .wallet-id {
      font-family: $font-family-monospace;
      padding: 5px;
      width: 60%;
    }
  }

  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .button-section {
    justify-content: center;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
  }
}

.notify-popup {
  background: $purple;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  color: $white;
  padding: 3px 5px 5px 5px;
  margin: 10px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 3s;

  &.start {
    opacity: 1;
    transition-duration: 1ms;
  }

  .arrow {
    height: 10px;
    width: 10px;

    &::before {
      border-style: solid;
      content: '';
      display: block;
      height: 0;
      margin: auto;
      width: 0;
    }
  }

  &[data-placement="top"] .arrow {
    bottom: 0;
    margin-bottom: -10px;
    position: absolute;

    &::before {
      border-width: 5px 5px 0 5px;
      border-color: $purple transparent transparent transparent;
    }
  }

  &[data-placement="bottom"] .arrow {
    top: -5px;
    position: absolute;

    &::before {
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent $purple transparent;
    }
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
