:root {
  --abouttor-yec-page-bg-color: #F5F5F5;
  --abouttor-yec-button-color: #15141A;
  --abouttor-yec-button-bg-color-browse: #C1ED75;
  --abouttor-yec-button-bg-color-search: #FF6A75;
  --abouttor-yec-button-bg-color-speak: #D898FA;
  --abouttor-yec-donate-text-color: #15141A;
  --abouttor-yec-donate-text-highlight: #FFBD4F;
  --abouttor-yec-match-bg-color: #D898FA;
}

@font-face {
    font-family: SpaceGrotesk-Bold;
    src: url("../fonts/Space/SpaceGrotesk-Bold.ttf");
}

/* Don't move down content w banner. Navbar isn't fixed. */
.page {
  padding-top: 0 !important;
}

.banner {
  background-color: var(--abouttor-yec-page-bg-color);
  z-index: 100000000000000 !important;
  position: relative;
  right: 0;
  left: 0;
  top: 0;
}

.banner-content {
  height: auto;
  min-height: 360px;
  margin-inline: auto;
  padding: 0px;
  min-height: inherit;
  max-height: inherit;
}

.banner-content-spacer {
    margin-top: auto;
    margin-bottom: auto;
    padding: 1.5rem 1rem 2rem 1rem;
    min-height: inherit;
    max-height: inherit;
}

.banner-close {
  position: absolute;
  right: 16px;
  top: 16px;
  height: 4.5vh;
  min-height: 32px;
  z-index: 1;
  visibility: inherit;
  border-radius: 6px;
  color: #05161C !important;

  img {
    padding: 0 !important;
  }
}

.eoy-sr-only {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

#trigger {
  position: absolute;
  top: -9999px;
}

#trigger:checked ~ #banner-header, .banner > #trigger:checked, #trigger:checked + label {
  display: none;
  visibility: hidden;
}

#banner-header {
    h1, p {
      color: var(--abouttor-yec-donate-text-color);
    }

  h1 {
    display: inline;
    font-size: 1.5rem;
    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
    font-family: "SpaceGrotesk-Bold", sans-serif;
    line-height: 140%;
    margin-bottom: 0px;
    background-color: var(--abouttor-yec-donate-text-highlight);
    padding: 0 0.75rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

  p {
    font-size: 1.2rem;
    @include media-breakpoint-up(md) {
      font-size: 1.3rem;
    }
    font-family: "Source Sans Pro", sans-serif;
    line-height: 150%;
    margin: 1rem 0 0 0;
  }
}

.banner-content-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    padding: 2rem;
  }
}

#yec-donate-button-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  margin: 0 auto;

  @include media-breakpoint-up(lg) {
    margin: 0;
  }
}

#yec-donate-button {
  display: flex;
  visibility: hidden;
  padding: 0.75rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  color: unset;

  font-size: 1.1rem;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */

  .donate-heart {
    height: 1rem;
    width: 1rem;
  }
}

.yec-illo {
  width: 320px;
  @include media-breakpoint-up(md) {
    width: 350px !important;
  }
  @include media-breakpoint-up(lg) {
    width: 420px !important;
  }
}

#banner-header .banner-content {
  h1.yec-variant-search,
  h1.yec-variant-speak,
  img.yec-variant-search,
  img.yec-variant-speak {
    display: none;
  }
  h1.yec-variant-browse,
  img.yec-variant-browse {
    visibility: hidden;
  }
}

#yec-donate-button.yec-variant-browse {
  background-color: var(--abouttor-yec-button-bg-color-browse);
  visibility: visible;
}
#yec-donate-button.yec-variant-search {
  background-color: var(--abouttor-yec-button-bg-color-search);
  visibility: visible;
}
#yec-donate-button.yec-variant-speak {
  background-color: var(--abouttor-yec-button-bg-color-speak);
  visibility: visible;
}

#banner-text {
  gap: 1rem;
}

#banner-text-container {
  gap: 1.5rem;
  max-width: 45rem;
}

/* send close button to left on rtl languages */
html:dir(rtl) {
  .banner-close {
    left: 16px;
    right: auto;
  }
  .eoy-sr-only, #trigger {
    right: 0;
  }
}
