@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Kanit/kanit.woff2') format('woff2');
}

@font-face {
  font-family: League Gothic;
  src: url('fonts/LeagueGothic/LeagueGothic-Italic.otf');
}

.banner {
  background-color: #000000;
  z-index: 100000000000000 !important;
}

.footer__close {
  height: 3rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  margin-top: 0rem;
  margin-right: -2rem;
  z-index: 1;
  font-weight: bolder;
  visibility: inherit;
}

.tracking-surveillan {
  color: #2EF900 !important;
  font-family: Source Code Pro;
  font-weight: 400;
  text-align: left;
}

.take-back-the-intern {
  color: lime;
  font-family: League Gothic !important;
  font-style: italic;
  font-weight: 400 !important;
  text-align: left;
  width: 40%;
  line-height: 4rem !important;
  right: 8px;
  position: relative;
}

.rectangle {
    border: 3px solid blueviolet !important;
    color: white !important;
    border-radius: 0 !important;
    font-family: League Gothic;
    font-size: 2rem !important;
    padding: 0 20px !important;
}

.rectangle:hover{
    text-decoration: none;
    color: white;
    background: blueviolet;
}

.give-today-and-mozi {
  color: white;
  font-family: Source Code Pro;
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  margin-bottom: 0;
  line-height: 4em;
}

.banner__containter {

    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1.25rem 1.25rem 2rem;
    width: 100%;
    background-image: url('../images/home/png/take-back@3x.png');
    background-position: bottom 10% right 45%;
    background-repeat: no-repeat;
    background-size: contain;

}

.eoy-sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

#trigger {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#trigger:checked ~  #banner-header, .banner__containter > #trigger:checked, #trigger:checked + label {
  display: none;
  visibility: hidden;
}
