{% macro render_parent(item) %}
  <li class="breadcrumb-item active" aria-current="page">
    <a href="{{ vars.parent.path|url }}">
      {{ item.parent.title }}
    </a>
  </li>
{% endmacro %}

{% macro render_parents(item) %}
  {% if item.parent %}
    {{ render_parent(item) }}
    {% set item = item.parent %}
    {% if item.parent %}
      {{ render_parent(item) }}
      {% set item = item.parent %}
      {% if item.parent %}
        {{ render_parent(item) }}
        {% set item = item.parent %}
        {% if item.parent %}
          {{ render_parent(item) }}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endmacro %}
