<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" >
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Defend yourself against tracking and surveillance. Circumvent censorship. | Anonymity Online">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@torproject" />
<meta name="twitter:creator" content="@torproject" />
<meta name="twitter:image" content="../assets/static/images/tor-project-logo-onions.png"/>
<meta property="og:url" content="https://torproject.org" />
<meta property="og:title" content="The Tor Project | Privacy &amp; Freedom Online" />
<meta property="og:description" content="Defend yourself against tracking and surveillance. Circumvent censorship." />
<meta property="og:image" content="../assets/static/images/tor-project-logo-onions.png" />
<link rel="stylesheet" href="../assets/static/css/bootstrap.css?h=835b681f">
<link rel="stylesheet" href="../assets/static/fonts/fontawesome/css/all.min.css?h=9d272f6a" rel="stylesheet">
<!-- Standard favicon -->
<link rel="icon" type="image/x-icon" href="../assets/static/images/favicon/favicon.ico">
<!-- Recommended favicon format -->
<link rel="icon" type="image/png" href="../assets/static/images/favicon/favicon.png">
<title>Tor Project | Anonymity Online</title>
<!-- 404 code started -->
<body class="bg-darker">
    <div class="page bg-darker">
    <div class="container-fluid bg-darker">
        <div class="container bg-darker pt-5">
            <div class="row">
<!-- Update image path -->
                <img class="mx-auto p-5" src="../assets/static/images/404.png" style="max-width:70%" alt="404">
            </div>
            <div class="row">
                <h3 class="mx-auto p-3 text-center text-white">oops, something is missing.</h3>
            </div>
            <div class="row col-12 p-5 mx-auto justify-content-center">
                <a class="btn btn-lg btn-outline-light" href="https://www.torproject.org/">Go to website<i class="ml-2 pt-1 fas fa-arrow-right"></i></a>
            </div>
        </div>
      </div>
    </div>
</body>
</html>
