<div class="banner">
  <input id="trigger" type="checkbox" title="Close banner" />
  <label for="trigger" class="banner-close text-white">
      <div class="d-flex h-100">
          <img src="{{ '/static/images/yec/x-dark.png'|asseturl }}" class="m-auto h-100 w-100 p-1 img-svg">
      </div>
  </label>
  <span class="eoy-sr-only text-black">Close banner</span>
  
  <div id="banner-header">
    <div class="banner-content">
      <div class="banner-content-spacer h-100">
        <div class="banner-content-container d-flex px-3">
          <div class="banner-main-graphics h-100">
            <img class="yec-illo" src="{{ '/static/images/yec/spring-onion-comp_1.5x.png'|asseturl }}">
          </div>
          <div id="banner-text-container" class="d-flex flex-column {{ bag('alternatives', this.alt, 'direction') }}">
            <div id="banner-text">
              <h1 class="yec-variant-browse">{{ _('Privacy is possible.') }}</h1>
              <p>{{ _("Opting out of Big Tech means investing in better alternatives. That's where Tor, Tor Browser, and Tails come in.") }} {{ _('Help fuel the development of truly private tools.') }}{{ "".format(_('A better world is possible when you invest in tools that prioritize your privacy over profit. Donate to Tor today.')) }}</p>
            </div>
            <div id="yec-donate-button-container">
              <a class="btn" id="yec-donate-button" href="https://torproject.org/donate/donate-bn1-sc2025">
                <span>{{ _("Donate now") }}</span>
                <img src="{{ '/static/images/yec/spring-heart.svg'|asseturl }}" class="donate-heart">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
/* persist banner close across pages in the same session/tab */
let trigger = document.querySelector(".banner #trigger");
trigger.addEventListener("change", () => {
    sessionStorage.setItem("bannerClosed", trigger.checked);
});
if (sessionStorage.getItem("bannerClosed")) {
    trigger.checked = sessionStorage.getItem("bannerClosed");
}
</script>
