{% set locale = bag('alternatives', this.alt) %}
<div class="banner__containter banner align-middle d-flex justify-content-center">
  <input id="trigger" type="checkbox" title="{{ _('Close banner') }}" />
  <label for="trigger" class="footer__close text-white">X</label>
  <span class="eoy-sr-only text-white">{{ _('Close banner') }}</span>
  <div class="eoy-banner row col-md-12 pt-5" id="banner-header" role="contentinfo">
    <div class="col-1 px-0"></div>
    <div class="col-lg-5 col-md-5 col-11 px-0">
      <div class="col-12 pl-0 {{ locale.direction }}">
        <div class="row">
          <h4 class="banner-big-text">{{ _('Privacy is a human right') }}</h4><br>
        </div>
        <div class="row">
          <h2 class="banner-small-text">
	          {{ _('Your donation will be matched by Friends of Tor, up to $150,000.') }}
	        </h2>
	      </div>
        {% if locale.direction == 'text-right' %}
        <div class="col-4 order-0">
          {% else %}
          <div class="col-4 order-1">
            {% endif %}
          </div>
          <!-- <div class="row">
               <div class="col-8 order-0 pb-3">
               <a href="https://blog.torproject.org/friends-of-tor-match-2020" target="_blank" title="Friends of Tor" class="match">{{ _('Your donation will be matched by Friends of Tor, up to $100,000.') }}</a>
               </div>
               </div> -->
	        <div class="row py-3">
            {% set link = bag('links', this.alt, 'donate') %}
            {% if link %}
            <a class="rectangle" href="{{ link }}">{{ _('Donate now') }}</a>
            {% else %}
            <a class="rectangle" href="https://torproject.org/donate/donate-usetor-hp1">{{ _('DONATE NOW') }}</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-1 px-0"></div>
      <div class="col-lg-4 col-md-4 col-10 px-0 illo-container position-relative">
	      <img class="banner-img-style" src="{{ '/static/css/images/home/png/yec-activist-light-en@3x.png'|asseturl }}">
      </div>
      <div class="col-1 px-0"></div>
    </div>
  </div>
