<div class="dcs-banner__containter">
  <input id="trigger" type="checkbox" title="Close banner" /><label for="trigger" class="dcs-footer__close">X</label>
  <span class="dcs-sr-only">Close banner</span>
  <div class="dcs-footer" id="dcs-banner-footer" role="contentinfo">
    <div class="dcs-footer__container">
      <a class="dcs-footer__logo" href="https://digital.globalclimatestrike.net/join/?source=digitalstrikebanner">
        <img src="{{ '/static/images/dcs-logo.png'|asseturl }}" alt="Digital Climate Strike logo" class="dcs-logo">
      </a>
      <div class="dcs-footer__main">
        <p class="dcs-footer__body">
          Our website will join the Global #ClimateStrike on <time id="dcs-strike-date" datetime="2019-09-20">September 20</time>. Will you?
        </p>
        <div class="dcs-footer__action">
          <a type="button" class="dcs-button" href="https://digital.globalclimatestrike.net/join/?source=digitalstrikebanner"> Yes, I’m in. ➔ </a>
        </div>
      </div>
    </div>
  </div>
</div>
